@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Reset styles */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Smooth fonts */
body {
  font-family: 'Ubuntu', sans-serif;
}

/* Remove form element default styles for consistency */
input, button {
  @apply focus:outline-none;
}
